@*

    Copyright (C) 2014 EllieWare

    All rights reserved

    www.EllieWare.com

*@
@model RobotWare.Runtime.Server.Web.Models.SchedulerInfo
@{
  ViewBag.Title = "RobotWare Server - Code free automation for Windows";
}
@section featured
{
  <script>
    function DeleteTrigger(name, group)
    {
      $.ajax(
      {
        url: 'Home/DeleteTrigger',
        type: 'POST',
        contentType: 'application/json;',
        data: JSON.stringify({ Name: name, Group: group }),
        success: function (data)
        {
          alert("Deleted trigger: " + data.Succeeded);
        }
      });
    }
    function DeleteJob(name, group)
    {
      $.ajax(
      {
        url: 'Home/DeleteJob',
        type: 'POST',
        contentType: 'application/json;',
        data: JSON.stringify({ Name: name, Group: group }),
        success: function (data)
        {
          alert("Deleted job: " + data.Succeeded);
        }
      });
    }
    function RunJob(name, group)
    {
      $.ajax(
      {
        url: 'Home/RunJob',
        type: 'POST',
        contentType: 'application/json;',
        data: JSON.stringify({ Name: name, Group: group }),
        success: function (data)
        {
          alert("Run job: " + data.Succeeded);
        }
      });
    }
  </script>
  @Html.ActionLink("About", "About")
  <section>
    <div>
      <h1>@Model.Name</h1><p/>
        @foreach (var jobGroup in Model.JobGroups)
        {
          <table>
            <tbody>
              <tr>
                <td>
                  <b>@jobGroup.Name</b>
                </td>
              </tr>
                @foreach (var job in jobGroup.Jobs)
                {
                <tr>
                  <td>
                    <span>@job.Name</span>
                  </td>
                  <td>
                    <button onclick='RunJob("@job.Name", "@job.Group")'><img src="/../../Images/media_play_green_32x32.png" alt="Run" /></button>
                  </td>
                  <td>
                    <button onclick='DeleteJob("@job.Name", "@job.Group")'><img src="/../../Images/delete_32x32.png" alt="Delete" /></button>
                  </td>
                </tr>
                  foreach (var trigger in job.Triggers)
                  {
                <tr>
                  <td>
                      <span>&nbsp; &nbsp;</span><button onclick='DeleteTrigger("@trigger.Name", "@trigger.Group")'><img src="/../../Images/delete_32x32.png" alt="Delete" /></button><p/>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                      <span>&nbsp; &nbsp;Name: </span><i>@trigger.Name</i><p/>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                      <span>&nbsp; &nbsp;Group: </span>@trigger.Group<p/>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                      <span>&nbsp; &nbsp;Calendar: </span>@trigger.Calendar.Name<p/>
                  </td>
                </tr>
                  }
                }
            </tbody>
          </table>
        }
    </div>
  </section>
}
